.layout [class^=col]:first-child {
	border-right: 2px solid #ccc;
}

@media (max-width: 992px) {
	.layout [class^=col]:first-child {
		border-right: none;
		border-bottom: 2px solid #ccc;
		padding-bottom: 10px;
	}
}
